.account-container {
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logout-btn {
    width: 100%;
    max-width: 288px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: orangered;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    margin-top: 48px;
}
