header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.logo {
    cursor: pointer;

    font-size: 24px;
    font-weight: bold;
    color: coral;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .menu-item {
        position: relative;
        cursor: pointer;

        &::before {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.3s ease-in-out;

            width: 0;
            height: 1px;
            background: gray;
        }

        &:hover,
        &.active {
            &::before {
                width: 100%;
            }
        }

        &.active {
            font-weight: bold;
        }
    }
}

.account {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: gray;

    outline: 1px solid gray;
    outline-offset: 2px;
    cursor: pointer;
}
